/* Importar Bootstrap y Bootstrap Icons */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Importar estilos base */
@import './variables.css';
@import './reset.css';
@import './animations.css';

